<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Office Of Dr Ned Witkin</title>

  <!-- Latest compiled and minified CSS -->
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

  <link rel="stylesheet" href="./css/bootstrap.css">

<!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">



    <!-- Custom styles for this template -->
  <link href="./css/template.css" rel="stylesheet">

  <link rel="stylesheet" href="./css/custom.css">

  <script 
  src="http://maps.googleapis.com/maps/api/js">
  </script>


</head>

<body>

    <div class="container-fluid" id="main-bg">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#insurance">Accepted Insurance</a></li>
            <li><a href="#appointments">Appointments</a></li>
            <li><a href="#contact">Office Contact</a></li>
            <li><a href="#directions">Directions</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


          <div class="row placeholders">
            <h1 class="page-header">Ned Witkin DDS</h1>
            <h2 class="page-header">General Dentistry</h2>

            <img src="./images/animated-port-sm.png">
          <!-- end row -->
          </div>

          
          <hr class="featurette-divider" id="about">

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading"> Dr Ned Witkin - <span>Bio</span></h2>
              <p class="lead">Dr. Witkin is a Plainview native, and a graduate of Adelphi University  and NYU School of Dentistry.  As a practicing general dentist in the Plainview community for over 30 years, he particularly enjoys the aesthetic aspects of restorative dentistry.  He is very attuned to his patients concerns, and works at the highest level to assure them of excellent functionality as well as exceptional quality and appearance.  Dr. Witkin has extensive experience with implants, and works cooperatively with many oral surgeons and periodontists.  He has served as an adjunct faculty member at NYU.</p>

              <p class="lead">Both an avid wreck diver and boat captain, Dr. Witkin spends many weekends running dive charters on the Seahawk, which sails out of Freeport from May through October, and from winter quarters in Port Washington from November through January.  He also loves fishing, traveling, and ballroom dancing.</p>
              <img class="featurette-image img-responsive center-block" src="./images/bottles.png" alt="wooden">
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" src="./images/wooden.png" alt="wooden">
            </div>
          </div>

          <hr class="featurette-divider">
          <hr class="featurette-divider">

          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>            
            </ol>

            <div class="carousel-inner" role="listbox">
              
              <div class="item active">
                <div class="slide-image">
                <img class="first-slide" src="https://d1cesmq0xhh7we.cloudfront.net/15d68a54-42bd-4e87-a8b3-9577d1a0d816zoom.jpg" alt="First slide">
                </div>  
              </div>

              <div class="item">
                <div class="slide-image">
                <img class="second-slide" src="https://dsw5h1xg5uvx.cloudfront.net/8f4a281a-4a60-451f-a3c4-e3959590e795zoom.jpg" alt="Second slide">
                </div>
              </div>

              <div class="item">
                <div class="slide-image">
                <img class="third-slide" src="https://d1cesmq0xhh7we.cloudfront.net/fe88e069-06ff-4c76-ba27-709d19624a63zoom.jpg" alt="Third slide">
                </div>
              </div>

              <div class="item">
                <div class="slide-image">
                <img class="fourth-slide" src="https://d1cesmq0xhh7we.cloudfront.net/0e458b40-b9bd-40f1-8c11-f436ea1b36c1zoom.jpg" alt="Fourth slide">
                </div>
              </div>              

            </div>

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

          </div><!-- /.carousel -->


          <hr class="featurette-divider" id="insurance">
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-5">
              <h2 class="featurette-heading"> Insurance plans </h2>
              <p class="lead">We accept a number of Insurance plans for your office visit. If you do not see your specific plan, please contact the office for possible accomodation.</p>
            </div>
            <div class="col-md-5">
              <ul class="list-group">
                <li class="list-group-item">Cigna </li>
                <li class="list-group-item">Delta Dental Premeire </li>
                <li class="list-group-item">Aetna </li>
                <li class="list-group-item">Guardian Dental </li>
                <li class="list-group-item">Fort Dearborn Life</li>
                <li class="list-group-item">First Ameritas Life Insurance Corp. of New York</li>
                <li class="list-group-item">The Standard Life Insurance Company of New York</li>
                <li class="list-group-item">First Reliance Standard LIfe ins. co of New York</li>
                <li class="list-group-item">United Healthcare</li>
                <li class="list-group-item">Plans affiliated with Connection Dental Network</li>                                                                                         
              </ul>
            </div>
          </div>

          <hr class="featurette-divider" id="appointments">
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading"> Appointments </h2>
              <p class="lead">For inquiries regarding appointment availability and scheduling, either use the ZocDoc tool or feel free to contact our office </p>
            </div>
            <div class="col-md-4">
              <div id="zocdoc">
                <div class="well">
                  <a style='display:block;' href='http://www.zocdoc.com/practice/ned-witkin-45076?lock=true&isNewPatient=false&referrerType=Widget'>
                    <img src='http://offsiteSchedule.zocdoc.com/images/remote/book-appt-light.png' border='0' />
                  </a>
                  <a style='display:block; position: relative; left: 126px;' href='http://www.zocdoc.com' title='Powered by ZocDoc Doctor Directory'>
                    <img src='http://offsiteSchedule.zocdoc.com/images/remote/powered-by-light.png' height='15px' width='92px' alt='Powered by ZocDoc Doctor Directory' />
                  </a>
                </div>
              </div>
            </div>
          </div>

          <hr class="featurette-divider" id="contact">
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-5">
              <h2 class="featurette-heading" id="contact-office"> Contact and Office Hours </h2>
            <!-- </div> -->
              <p class="lead"> <u>Regular Office Hours</u> <br> Monday: 9am-1pm <br> Tuesday-Wednesday: 9am-6:30pm <br> Thursday: 9am-1pm <br> Saturdays available by appointment.
              </p>
            <!-- <div class="col-md-5 col-md-push-5"> -->
              <div class="well">
                <div style="color: black;">
                  <p class="contact-text"> Phone: (516) 931-8002 </p>
                  <p class="contact-text"> 1 Carol Place </p>
                  <p class="contact-text"> Plainview, NY 11803 </p>
                </div>
              </div>

            </div>
            <div class="col-md-7">
              <img class="featurette-image img-responsive center-block" src="https://d2t808ag5aqhkh.cloudfront.net/54b71263-83f8-4c50-b92c-1edf7b393dbezoom.jpg">
            </div>
          </div>


          <hr class="featurette-divider" id="directions">
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-6">
              <h2 class="featurette-heading"> Directions </h2>
              <p class="lead">
              From the Long Island Expressway (I-495) take exit 44S, to 135 (Seaford-Oyster-Bay Expressway) South. Take exit 10, Old Country Road, making a left onto Old Country Road. 
              1 Carol Place is located across the street from the Morton Village shopping Center, on the South Side of Old Country Road.
              </p>  
            </div>
            <div class="col-md-6">
              <div id="googleMap" style="height:400px;">
              </div>
            </div>
          </div>
          <!-- FOOTER -->
          <footer>
            <p class="pull-right"><a href="#" style="color: black">Back to top</a></p>
            <p> &copy; 2015 <a href="http://phillipwitkin.com" style="color:white;">Phillip Witkin</a></p>
          </footer>


        <!-- end column -->
        </div>

      <!-- end row -->
      </div>

    </div><!-- /.container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="./js/app.js"></script>
 
</body>
</html>